node_modules
.next
.vercel
.open-next
.env
dist
.wrangler/resource-ids.json
.wrangler/*.secrets.json
.wrangler/generated
.env
.env.local
.DS_Store
*.log
npm-debug.log*
*.mp3
.cache
.turbo

__pycache__/*
*.pyc
